{{outlet}}

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About List Song</h2>
  <p>
    This is just a list of my favourite songs!
  </p>
</div>


{{#link-to 'contact' class="button"}}
  Contact me!
{{/link-to}}