<h2 id="title">Welcome to My Songs</h2>

<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>Nice Songs</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
      {{#link-to 'songs'}}
        Songs
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>