{{outlet}}

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>If you like my songs so much you can contact me in:</p>
  <p>
    Sofia Siws
  <address>
    Dublin
  </address>
  <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
  <a href="mailto:songs@emberjs.com">songs@emberjs.com</a>
  </p>
</div>


{{#link-to 'about' class="button"}}
  About
{{/link-to}}