{{outlet}}

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    Welcome to my page. Hope you enjoy the songs I am listing here!
    <br>Browse our listings, or use the search box above to narrow your search.
  </p>
  {{#link-to 'about' class="button"}}
    About Me
  {{/link-to}}
</div>